.container {
  width: 1080px;
  height: 559px;
  display: flex;
  margin-bottom: 42px;
  margin-right: auto;
  margin-top: 42px;
  margin-left: 270px;
  background: #f9f9f9;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  border-radius: 40px 0px 0px 40px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.dialogWrapper {
  overflow-y: auto;
  width: 100%;
}

.contentWrapper1 {
  text-align: left;
  width: 674px;
  background-color: #c4ddff;
  margin-left: 60px;
  margin-right: 427px;
  margin-top: 20px;
  border-radius: 40px;
}
.contentWrapper2 {
  text-align: left;
  width: 674px;
  margin-right: 60px;
  margin-left: 673px;
  background-color: #fee2c5;
  margin-top: 20px;
  border-radius: 40px;
}

.inputWrapper {
  justify-content: center;
  margin-left: 75px;
}

.input {
  width: 680px;
  height: 54px;
  background: #fafdfe;

  border: 1px solid #acadad;
  border-radius: 20px;
  margin-right: 4px;
  margin-bottom: 60px;
  margin-top: 72px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
