.container {
  width: 1096px;
  height: 570px;
  display: flex;
  margin-bottom: 42px;
  margin-right: auto;
  margin-top: 42px;
  margin-left: 270px;
  background: #f9f9f9;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  border-radius: 40px 0px 0px 40px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 190px; */
}

.dialogWrapper {
  overflow-y: scroll;
}

.contentWrapper1 {
  width: 634px;
  background-color: #c4ddff;
  margin-left: 36px;
  margin-right: 407px;
  margin-top: 20px;
}
.contentWrapper2 {
  width: 634px;
  margin-left: 407px;
  margin-right: 36px;
  background-color: #fee2c5;
  margin-top: 20px;
}

.txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000a10;
  padding: 25px 43px 25px 44px;
}

.inputWrapper {
  justify-content: center;
  margin-left: 75px;
}

.input {
  width: 680px;
  height: 54px;
  background: #fafdfe;

  border: 1px solid #acadad;
  border-radius: 20px;
  margin-right: 24px;
  margin-bottom: 60px;
  margin-top: 72px;
  /* margin-left: 245px; */
}

.btn {
  /* margin-right: 190px; */
}
